body {
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

.top {
    /* margin-left: 100px; */
    margin-bottom: 30px;
    padding-top: 100px;
    padding-left: 150px;
    padding-bottom: 50px;
}

h4,
h2 {
    text-align: center;
}

.icon {
    color: green;
}