.news-top {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.read {
    color: green;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}